In [3]:
import pandas as pd

# lets create a simple Data frame

In [4]:
import numpy as np
columnA = pd.Series(np.ones(100))
columnB = pd.Series(np.ones(100))
columnB[:12] = 0
columnC = pd.Series(np.random.randint(15,35, size=100))
features = pd.concat([columnA,columnB,columnC], axis=1)

In [5]:
df = pd.DataFrame(features) 
df.columns=['columnA', 'columnB', 'columnC']

In [6]:
df.tail()

    columnA  columnB  columnC
95      1.0      1.0       31
96      1.0      1.0       17
97      1.0      1.0       33
98      1.0      1.0       29
99      1.0      1.0       16

In [7]:
df.head()

   columnA  columnB  columnC
0      1.0      0.0       26
1      1.0      0.0       18
2      1.0      0.0       33
3      1.0      0.0       31
4      1.0      0.0       28

# Lets split the data between train and test set

In [8]:
train_set = df[:70]
test_set =df[70:]

we can see that the Marks are same for all the students, so the variance of this column will also be zeros. however lets verify the same

In [11]:
train_set['columnA'].var()

0.0

In [12]:
train_set['columnB'].var()

0.14409937888198787

In [13]:
train_set['columnC'].var()

37.744099378882005

we can see that marks has only one value and is constant

In [14]:
from sklearn.feature_selection import VarianceThreshold
import warnings
warnings.filterwarnings('ignore')

# Create an instance of variance threshold method

In [15]:
constant_feature_selector = VarianceThreshold(threshold=0)

In [16]:
constant_feature_selector.fit(train_set)

VarianceThreshold(threshold=0)

In [17]:
constant_feature_selector.get_support()

array([False,  True,  True])

lets verify which columns have been selected by our feature selector

In [18]:
train_set.columns[constant_feature_selector.get_support()]

Index(['columnB', 'columnC'], dtype='object')

we can see that our feature selector has selected columnB and columnC , as the variance of feature A is 0

# We can see that our selector has selected the feature so lets transform our dataset now

In [19]:
train_set = constant_feature_selector.transform(train_set)
test_set= constant_feature_selector.transform(test_set)

In [20]:
train_set[:5,]

array([[ 0., 26.],
       [ 0., 18.],
       [ 0., 33.],
       [ 0., 31.],
       [ 0., 28.]])